<header class="site-header">
  <div class="header-inner" [class.search-expanded]="searchExpanded">
    <a routerLink="/" class="logo">
      <img class="logo-icon logo-for-light" src="logo-icon-light.png" alt="Birdland Metrics logo" width="40" height="40">
      <img class="logo-icon logo-for-dark" src="logo-icon-dark.png" alt="Birdland Metrics logo" width="40" height="40">
      <span class="logo-text">BIRDLAND</span>
      <span class="logo-accent">METRICS</span>
    </a>
    <div class="header-actions">
      <app-search-overlay (expandedChange)="searchExpanded = $event" />
      <app-theme-toggle />
    </div>
  </div>
</header>
