@if (odds(); as o) {
  <div class="odds-row">
    <div class="odds-col accent">
      <span class="odds-label">Playoff</span>
      <span class="odds-value">{{ o.playoff_pct | number: '1.0-0' }}%</span>
    </div>
    <div class="odds-col">
      <span class="odds-label">Division</span>
      <span class="odds-value">{{ o.division_pct | number: '1.0-0' }}%</span>
    </div>
    <div class="odds-col">
      <span class="odds-label">Wild Card</span>
      <span class="odds-value">{{ o.wildcard_pct | number: '1.0-0' }}%</span>
    </div>
  </div>
}
